@green: #0BD77A;
@red: #E95A5A;

.ranger,
.ranger-fill {
    background: #eaeaea;
    display: block;
    height: 8px;
    width: 100%;
}

.ranger {
    position: relative;
}

.ranger-disabled {
    opacity: 0.4;
}

.ranger-fill {
    background: @green;
    box-shadow: 0px 10px 20px -1px fade(@green,70%);
    position: absolute;
    top: 0;
    z-index: 2;
}

.ranger-handle {
    display: inline-block;
    width: 2px;
    cursor: ew-resize;
    height: 14px;
    position: absolute;
    top: -3px;
    z-index: 3;
    background: darken(@green,10%);
    box-shadow: 0px 10px 20px -1px fade(@green,30%);

    &.ranger-label{
        &:before{
            content: attr(value);
            background: inherit;
            color: #FFF;
            padding: 4px 5px 5px 5px;
            font-size: 13px;
            transform: translate(-50%, -100%);
            display: block;
            white-space: nowrap;
            position: absolute;
            top: -8px;
            font-family: monospace;
            border-radius: 3px;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            border-top: 5px solid darken(@green,10%);
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
            top: -9px;
            left: -4px;
        }
    }
}

.ranger-buffer {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 5px;
    background: darken(#eaeaea,10%);
}
